$super-dark-brown: #7A4B2D;
$dark-brown:#96694c;
$medium-brown: #a98168;
$light-brown: #b88c6f;
$gray: #4a4a4a;
$dark-gray: #3b3b3b;
$light-gray:#9b9b9b;

$color-danger:#fd393b;
$bg-icon-danger: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23fd393b' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23fd393b' stroke='none'/%3e%3c/svg%3e");
$color-success: #6a9088;
$bg-icon-success: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 8 8'%3e%3cpath fill='%236A9088' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");


$font-weight-medium: 300;
$font-weight-thick: 500;
$font-weight-light: 200;

$max-width: 1400px;