#app {
    flex: 1;
    
}
#main-header {
    background-color: #fff;
}
.fixed {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top:0;
    left:0;
    
}
.tiny-downwards-shadow {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
}

#main-navbar.navbar {
    .navbar-nav .nav-link {
        color: $light-gray;
        text-transform: uppercase;
        border: none;
        transition: all .2s ease-in-out;
    }
    .navbar-nav .nav-link:hover {
        color:#000;
    }
    .navbar-nav .nav-link.router-link-active, .nav-item.customactive > .nav-link{
        border-bottom: 2px solid $dark-brown;
        color:#000;
    }
    
    
}
#main-navbar.navbar .navbar-brand {
    display: block;
    text-indent: -9999px;
    width: 203px;
    height: 70px;
    background: url(assets/logo.svg);
    background-size: 203px 70px;
}
#main-footer {
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: $gray;
    text-align: center;
    color: #C2C2C2;
    font-size: 0.8rem;
    font-weight: $font-weight-medium;
    background-image: url(assets/chain_pattern.png);
    background-position-y: bottom;
    background-repeat: repeat-x;
    height: $footer-height-small-screen;
}
#main-footer-content-wrapper {
    display: flex;
    align-items: center;
    height: $footer-height-small-screen - 64px;
}
#main-footer-content {
    padding: 0;
    a {
        color: #C2C2C2;
        font-weight: $font-weight-thick;
    }
}
@include media-breakpoint-up(sm) {
    #main-footer {
        height: $footer-height-big-screen;
    }        
    #main-footer-content-wrapper {
        height: $footer-height-big-screen - 64px;
    }
}
